@import "loading";
@import "styles";

.contenido{
  @include span-columns(7);
  @include shift(1);
  @include media($movil) {
    @include shift(1);
    @include span-columns(3);
  }
	h1{   
		color: #76a1b8;
		font-size: 60px;
		padding-top:20px;
		padding-bottom:20px;
		@include media($campus-pequeña1) {
	     	@include titulos-pequeña1();
	    }
	   	@include media($campus-pequeña2) {
	    	@include titulos-pequeña2();
	    }
	}
	/*quizás mover a otro css*/
	.app_img{
		float: left;
	}
	.app_info{
		padding-left: 130px;
	}
	.app{
		padding-top: 30px;
    	padding-bottom: 30px;
    	border-bottom: 2px solid rgba(94, 162, 186, 0.28);
    }


   
}

article.accordion, .contenido, .ganadores, .campus{

     p{
	    @include media($campus-pequeña1) {
	     	@include normal-pequeña1();
	    }
	   	@include media($campus-pequeña2) {
	    	@include normal-pequeña2();
	    }
	}
	h3{
	    @include media($campus-pequeña1) {
	     	@include subsubtitulos-pequeña1();
	    }
	   	@include media($campus-pequeña2) {
	    	@include subsubtitulos-pequeña2();
	    }
	}
	h2{
	    @include media($campus-pequeña1) {
	     	@include subtitulos-pequeña1();
	    }
	   	@include media($campus-pequeña2) {
	    	@include subtitulos-pequeña2();
	    }
	}
	h1{
	    @include media($campus-pequeña1) {
	     	@include titulos-pequeña1();
	    }
	   	@include media($campus-pequeña2) {
	    	@include titulos-pequeña2();
	    }
	}
}

article.accordion
{
	display: block;
	width: 100%;
	margin: 0 auto;
	word-wrap: break-word;
	/*a:hover{color: #5EA2BA;}*/
	a:hover{
		color: #000;
	}
	pre {
		font-family: monospace, monospace;
    	background-color: #F5F5F5;
    	border: 1px solid rgba(0, 0, 0, 0.15);
    	border-radius: 4px;
    	display: block;
    	white-space: pre-wrap;
    	padding: 10px;
    	@include media($campus-pequeña1) {
	     	font-size: 12px;
	    }
	   	@include media($campus-pequeña2) {
	    	font-size: 9px;
	    }

	}
}


article.accordion section.a_section
{
	display: block;
	width: 100%;
	padding: 0 1em;
	margin: 0 0 0.5em 0;
	color: #000000;	
	border: 1px solid rgba(118, 161, 184, 0.45);
    border-radius: 5px;

}

article.accordion section h2
{
	/*
	font-size: 1.5em;
	font-weight: bold;
	*/
	width: 100%;
	line-height: 2em;
	padding: 0;
	margin: 0;
	color: #5EA2BA;
	cursor: pointer;

}

article.accordion section h2 a
{
	display: block;
	width: 100%;
	line-height: 2em;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}
article.accordion section:target
{
	height: 100%;
}

article.accordion section:target h2
{
	font-size: 1.6em;
	color: #5EA2BA;
}
article.accordion section,
article.accordion section h2
{
	/*-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;*/
	@include transition(all 1s ease);
}

.link{
	cursor: pointer;
}
article.accordion section i{
	font-style: normal;
}
article.accordion section p.oculto{
	display:none;
	  opacity: 0;
  visibility: hidden;
	@include animation(fadeout 1s);
  //animation: fadeout 1s;
}


article.accordion section p.visible{

	visibility: visible;
  opacity: 1;
  animation: fade 1s;

}

.seccionAplicacionesIconos li {
    padding:15px;
    float: left;
    display: inline-block;
}
.seccionAplicaciones ul {
    width: 100%;
    clear: both;
    border-bottom: solid 1px #76a1b8;
    display: inline-block;
}

.seccionAplicacionesIconos li .cont {
width: 800px;
	@include media($campus-pequeña1) {
	     	width: 95%;
	 }
	@include media($campus-pequeña2) {
			width: 95%;
	}
}


.jacathon{
	.logos{max-width: 787px;width: 100%;height: auto;}
	.dosLogosInline{display: inline-block;width: 47%;padding: 1%;vertical-align: middle;}
	.tresLogosInlinePeque{display: inline-block;width: 25%;padding: 1%;vertical-align: middle;}
	.tresLogosInlineGrande{display: inline-block;width: 41%;padding: 1%;vertical-align: middle;float: right;}
	/*css post-jacathon cuidado con los zombies*/
	.ganadores{max-width: 787px;max-width: 100%;height: auto;}
	.fotoGanadores{max-width: 100%;height: auto; text-align: center;}
	.ganadoresInline{display: inline-table;width: 50%;padding:20px;}
	.premio{text-align: left;font-weight: bold;}
	.equipoFormacion{text-align: justify;}
	.equipoFormacion ul{list-style-type: disc; margin-left: 10%;}
	.logoPropuesta{display: inline-block;max-height:117px;width: 20%;}
	.propuesta{margin-bottom: 1%;margin-top: 1%;text-align: left;padding-top: 2%;/*padding-left: 15%;*/display: inline-block;width: 70%;}
	.tituloPropuesta a:link,.tituloPropuesta a:visited  {font-size:115%;font-weight: bold;}.equipoPropuesta{font-size: 80%;}
	.descripcionPropuesta{font-size: 70%;}
	.fotoFamilia{text-align:center;}
		@include media($campus-pequeña1) {
	    	@include titulos-pequeña1();
	    	@include subtitulos-pequeña1();
	    	@include normal-pequeña1();
	     	.ganadoresInline{width: 100%;}
	    }
	   	@include media($campus-pequeña2) {
	    	@include titulos-pequeña2();
	    	@include subtitulos-pequeña2();
	    	@include normal-pequeña2();
	    	.ganadoresInline{width: 100%;}
	    }
}
section{overflow: auto;}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}