@import 'search';
@import 'card';
@import 'elements';

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #76a1b8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #76a1b8;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #76a1b8;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #76a1b8;
}