home{
article{
  @include outer-container(90%);
  @include media($pantalla-grande) {
    @include outer-container(90%);
  }
}

.descripcion, .descripcion-busqueda{
  @include span-columns(5);
  @include shift(2);
  @include media($pantalla-grande) {
    @include shift(1);
    @include span-columns(7);
  }
  /*
  @include media($movil) {
    @include shift(0);
    @include span-columns(3);
    margin-left: 100px;
  }
  */
  @include media($campus-pequeña1) {
    margin:0px;
    width:100%;
  }
  @include media($campus-pequeña2) {
    margin:0;
    width:100%;
  }
  h1{
    font-size: 100px;
    text-align: center;
    @include media($campus-pequeña1) {
      font-size: 60px !important;
      text-align: center;
    }
   @include media($campus-pequeña2) {
     font-size: 40px !important;
     text-align: center;
    }
  }
  p{
    @include titulos-resultados();
    @include media($campus-pequeña2) {
      @include normal-pequeña1();
      width:100%;
      font-syze: 20px !important;
    }
  }
}

.titulo{
  @include titulos-principales();
}

#datos{
  @include gradient-home-datos();
}

#servicios{
  @include gradient-home-servicios();
}

#información{
  @include gradient-home-informacion();
}

#herramientas{
  @include gradient-home-herramientas();
}
}

