.campus{
  margin-top: 10px;

  @include media($campus-grande) {
    @include outer-container(75%);
    .campus_tarjeta{
      @include span-columns(3);
      @include omega(3n);
    }
  }
  @include media($campus-media) {
    @include outer-container(90%);
    .campus_tarjeta{
      @include span-columns(3);
      @include omega(3n);
    }
    .campus_tarjeta_back{
    }
  }
  @include media($campus-pequeña1) {
    @include outer-container(90%);
    .campus_tarjeta{
      @include span-columns(2);
      //@include omega-reset(3);
      @include omega(2n);
    }
    .campus_tarjeta_back{
      //font-size: 5vw;
    }
  }
  @include media($campus-pequeña2) {
    @include outer-container(90%);
    .campus_tarjeta{
      @include row();
      @include omega-reset(1);
      @include omega(1n);

      .image-wrapper:after{
        padding-top: 56.25%;
      }
    }
    .campus_tarjeta_back{
    }
  }

  .campus_tarjeta{
    color: white;
    margin-top:10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    img{
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
    }

    .campus_tarjeta_front{
      background-color:$AOD-v3-color;

      .campus_tarjeta_imagen{
      }

      .campus_tarjeta_titulo{
        padding-left: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .campus_tarjeta_back{
      @include titulos-resultados();
      overflow: hidden;
      background: $AOD-v3-color;
      position: absolute;
      font-size: 90%;
      width: 100%;
      height: 100%;
      transition-duration: 0.75s;
      opacity: 0;
      top: 0;
      padding: 5px;
      cursor: pointer;
      .campus_tarjeta_back_top{
        height:65%;
        display: block;
        overflow: hidden;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        border-bottom: 2px solid;
        border-bottom-color: white;
      }
      .campus_tarjeta_back_bottom{
        height:35%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        bottom:0;
        align-content:flex-end;
      }
    }
    .campus_tarjeta_back:hover{
        //transform: translateY(100%);
        opacity: 1;
        background-color: rgba(118, 161, 184, 0.95);
    }
  }
  .campus_tarjeta:hover{
    box-shadow: 0 4px 14px 0 rgba(0,0,0,0.5);
    .campus_tarjeta_back{
      //transform: translate(0, -100%);
      //height: 100%;
    }
  }

  .boton-curso{
    @include titulos-secundarios();
    color: white;
    background-color: $AOD-v3-color;
    width: 100%;
    border: none;
    font-size: 50px;
    margin-bottom: 17px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    @include media($campus-pequeña1) {
        font-size: 40px;
      }
    @include media($campus-pequeña2) {
        font-size: 30px;
      }
  }
  .boton-curso:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
}

.campus_tarjeta {
  opacity: 0;

  .campus & {

    @for $i from 1 through 9 {
      &:nth-child(#{$i}) {
        @include animation--fadedown($i/10);
      }
    }
  }
}

.pagination {
  @include outer-container(90%);
  align-content: center;
  display: block;
  margin: 0 auto;
}


/*
.pagination button {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  //transition: background-color .3s;
  border: none;
  background-color: $AOD-v3-color;
  margin: 0 4px;
  margin-top:10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 1s;
}

.pagination button:hover{
  box-shadow: 0 4px 14px 0 rgba(0,0,0,0.5);
}

.pagination_active {
  background-color: #2073a2 !important;
  color: white !important;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.9) !important;
}
*/

.pagination {
  text-align: center; 
}
.pagination ul {
  margin-top:22px;
  margin-bottom:22px;
  list-style: none;
  padding: 0;
  text-align: center; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }

.pagination li {
  display: inline;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px;
  margin: 5px 2px;
  padding: 5px 0px;
  display: inline-block;
  text-decoration: none;
  color: #717171;
  font-size: smaller;
  text-shadow: white 0 1px 0;
  background-color: #f5f5f5;
  width: 35px;
  @include media($campus-pequeña1) {
      width: 30px;   
  }
  @include media($campus-pequeña2) {
      width: 25px;
  }
}


.pagination li:hover, 
.pagination li:focus,
.pagination_active {
  cursor: pointer;
  color: white;
  border-color: #fff;
  background-color: #76a1b8;;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#76a1b8), to(#76a1b8));
  background-image: -webkit-linear-gradient(top, #76a1b8, #76a1b8);
  background-image:    -moz-linear-gradient(top, #76a1b8, #76a1b8);
  background-image:     -ms-linear-gradient(top, #76a1b8, #76a1b8);
  background-image:      -o-linear-gradient(top, #76a1b8, #76a1b8);
  background-image:         linear-gradient(top, #76a1b8, #76a1b8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#76a1b8', EndColorStr='#76a1b8');
}

.pagination li.dis{
  background-color: #ccc;
  cursor: default;
  color: #717171;
}

.pagination li.dis:hover{
  background-color: #ccc !important;
  cursor: default !important;
  background-image:none !important;
}

.campus h1{
  color: #76a1b8;
    font-size: 60px;
    padding-top:20px;
    padding-bottom:20px;
     @include media($campus-pequeña1) {
        @include titulos-pequeña1();
      }
      @include media($campus-pequeña2) {
        @include titulos-pequeña2();
      }
}