.contenido{
  @include span-columns(7);
  @include shift(1);
  @include media($movil) {
    @include shift(1);
    @include span-columns(3);
  }
	h1{   
		color: #76a1b8;
		font-size: 60px;
		padding-top:20px;
		padding-bottom:20px;
	}
	/*quizás mover a otro css*/
	.app_img{
		float: left;
	}
	.app_info{
		padding-left: 130px;
	}
	.app{
		padding-top: 30px;
    	padding-bottom: 30px;
    	border-bottom: 2px solid rgba(94, 162, 186, 0.28);
    }
}



article.accordion
{
	display: block;
	width: 100%;
	margin: 0 auto;
	word-wrap: break-word;
	p{
		font-size: 1em;
	}
	/*a:hover{color: #5EA2BA;}*/
	a:hover{
		color: #000;
	}
	pre {
		font-family: monospace, monospace;
    	background-color: #F5F5F5;
    	border: 1px solid rgba(0, 0, 0, 0.15);
    	border-radius: 4px;
    	display: block;
    	white-space: pre-wrap;
    	padding: 10px;
	}
}


article.accordion section.a_section
{
	display: block;
	width: 100%;
	padding: 0 1em;
	margin: 0 0 0.5em 0;
	color: #000000;	
	border: 1px solid rgba(118, 161, 184, 0.45);
    border-radius: 5px;

}

article.accordion section h2
{
	font-size: 1.5em;
	font-weight: bold;
	width: 100%;
	line-height: 2em;
	padding: 0;
	margin: 0;
	color: #5EA2BA;
	cursor: pointer;

}

article.accordion section h2 a
{
	display: block;
	width: 100%;
	line-height: 2em;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}
article.accordion section:target
{
	height: 100%;
}

article.accordion section:target h2
{
	font-size: 1.6em;
	color: #5EA2BA;
}
article.accordion section,
article.accordion section h2
{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.link{
	cursor: pointer;
}
article.accordion section i{
	font-style: normal;
}
article.accordion section p.oculto{
	display:none;
	  opacity: 0;
  visibility: hidden;
  animation: fadeout 1s;
}


article.accordion section p.visible{
	/*display:block;*/
	visibility: visible;
  opacity: 1;
  animation: fade 1s;

}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

